<!-- <nu-monaco-editor
  #editor
  [(ngModel)]="value"
  [model]="model"
  [options]="options"
  (event)="onEvent($event)"
  (click)="onEvent(editor)"
></nu-monaco-editor>
<div *ngFor="let variable of variables">
  <div>{{ variable.title }}</div>
  <button
    *ngFor="let variable of variable.variables"
    (click)="appendCode(variable.value)"
  >
    {{ variable.name }}
  </button>
</div>
<button (click)="appendCode('{{:for}}')"></button> -->
<div *ngFor="let variable of variables">
  <div>{{ variable.title }}</div>
  <button
    *ngFor="let variable of variable.variables"
    (click)="appendCodeMirror(variable.value)"
  >
    {{ variable.name }}
  </button>
</div>
<ngx-codemirror
  #mirror
  [(ngModel)]="content"
  (cursorActivity)="onCursorActivity($event)"
  [options]="{
    lineNumbers: true,
    theme: 'material',
    mode: 'html'
  }"
></ngx-codemirror>
